.icon-48-jsscripts {
      background-image: url(../images/l_jsscripts.png);
      padding-left:60px!important;
}

.icon-48-jsscript {
      background-image: url(../images/l_jsscripts.png);
      padding-left:60px!important;
}

.icon-48-cssscripts {
      background-image: url(../images/l_cssscripts.png);
      padding-left:60px!important;
}

.icon-48-cssscript {
      background-image: url(../images/l_cssscripts.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}